<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CSE Motors | Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/images/site/favicon-32x32.png">

  <!-- CSS -->
  <link rel="stylesheet" href="/css/styles.css" media="screen">
</head>
<body>