<main class="home">

  <h1 class="welcome-title">Welcome to CSE Motors!</h1>
  <%- messages() %>

  <!-- HERO SECTION -->
 <section class="hero">
  <img
    src="/images/vehicles/delorean.jpg"
    alt="DMC Delorean"
    class="hero-bg"
  >

  <div class="hero-info">
    <h3 class="car-title">DMC Delorean</h3>

    <ul class="car-features">
      <li>3 Cup holders</li>
      <li>Superman doors</li>
      <li>Fuzzy dice!</li>
    </ul>

    <a href="#" class="btn-own">Own Today</a>
  </div>
</section>



  <!-- CONTENT GRID -->
  <section class="content-grid">


    <!-- REVIEWS -->
    <section class="reviews">
      <h3>DMC Delorean Reviews</h3>

      <ul>
        <li>"So fast it's almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I'm feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80's livin and I love it!" (5/5)</li>
      </ul>
    </section>
    <!-- UPGRADES -->
    <section class="upgrades">
      <h3>Delorean Upgrades</h3>

      <div class="upgrades-grid">
        <figure>
          <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
          <figcaption><a href="#">Flux Capacitor</a></figcaption>
        </figure>

        <figure>
          <img src="/images/upgrades/Flame.jpg" alt="Flame Decals">
          <figcaption><a href="#">Flame Decals</a></figcaption>
        </figure>

        <figure>
          <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
          <figcaption><a href="#">Bumper Stickers</a></figcaption>
        </figure>

        <figure>
          <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
          <figcaption><a href="#">Hub Caps</a></figcaption>
        </figure>
      </div>
    </section>

    

  </section>

</main>
