<h1><%= title %></h1>

<%- messages() %>

<% if (errors) { %>
  <ul class="errors">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<form action="/inv/add-classification" method="post">
  <label for="classification_name">Classification Name</label>
  <input
    type="text"
    name="classification_name"
    id="classification_name"
    pattern="[A-Za-z0-9]+"
    required
    value="<%= typeof classification_name !== 'undefined' ? classification_name : '' %>"
  >

  <button type="submit">Add Classification</button>
</form>